{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book List</title>
</head>
<body>
    <h1>Library Books</h1>

    <!--  -->
    <form method="get" action="">
        {% csrf_token %}
        {{ form.q.label_tag }} {{ form.q }}
        <button type="submit">Search</button>
    </form>

    <ul>
        {% for book in books %}
            <li>
                <strong>{{ book.title }}</strong> by {{ book.author }}
            </li>
        {% empty %}
            <li>No books found.</li>
        {% endfor %}
    </ul>
</body>
</html>
