{% extends "base.html" %}
{% block content %}
<div class="container">
  <h1>{% if object %}Edit{% else %}Create{% endif %} Post</h1>
  <form method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <div class="mb-3">
      {{ form.title.label_tag }}
      {{ form.title }}
      {{ form.title.errors }}
    </div>
    <div class="mb-3">
      {{ form.content.label_tag }}
      {{ form.content }}
      {{ form.content.errors }}
    </div>
    <div class="mb-3">
      {{ form.published.label_tag }}
      {{ form.published }}
      {{ form.published.errors }}
    </div>
    <button class="btn btn-primary" type="submit">Save</button>
    <a class="btn btn-secondary" href="{% url 'blog:post-list' %}">Cancel</a>
  </form>
</div>
{% endblock %}
